<!DOCTYPE html>
<html>
<style>
tr:nth-child(even) {
  background: #edc9f4;
}

</style>
<head>
    Visitor:<a class="hitCounter" target="_blank" title="Hit counter"
               data-name="9ccac8285a600ed018beb76b4c2162f8|5|page|1|#ea5050|#ffffff|small|s-hit">Hit Counter</a>

    <meta charset="UTF-8">
    <title>Oily Beauty</title>

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="login">
    <h1>Oily Beauty</h1>
    <form action="{{ url_for('job_search')}}" method="post">
        <tr>
            <td><a href="{{ url_for('home') }}">Home</a></td>
            <td><a href="{{ url_for('login') }}">Staff Login (soon)</a></td>
            <td><a href="{{ url_for('product') }}">Product register(soon)</a></td>
            <td><a href="{{ url_for('stock') }}">Product stock(soon)</a></td>
            <td><a href="{{ url_for('sell_search') }}">Sell in month(soon)</a></td>
            <td><a href="{{ url_for('contactUs') }}">Contact Us(soon)</a></td>
        </tr>
        <h4>Ask for create delivery system,stock system for free 60 days contact us: japankosol@gmail.com</h4>
        <br>
        <h2>Product update stock</h2>

        <table border="1">
            <tr>
                <td>Image</td>
                <td>PK</td>
                <td>County</td>
                <td>Brand</td>
                <td>Product Name</td>
                <td>Quality</td>
                <td>Price</td>
                <td>Expire Date</td>
                <td>Ship Out</td>
                <td width="600">Detail</td>
                <td>Update Date</td>
            </tr>
            {%for contact in today%}
            <tr style="height:40px">
                {% set list1 = contact.split(',') %}
                {% if list1[0] %}
                <td><img src={{ list1[0] }} alt="User Image" width="200"></td>
                {% endif %}
                {% if list1[1] %}
                <td>
                    <a href="{{ url_for('product11',id = list1[1])}}">{{ list1[1] }} Edit</a>
                </td>
                {% endif %}

                {% for item in list1[2:14] %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor%}
        </table>
    </form>
</div>

</body>
</html>